:root {
    --light-green: #BDDDBC;
    --med-green: #94CA8D;
    --dark-green: #8ABD91;
    --light-gray: #F5F5F5;
    --dark-pink: #D13B74;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: calc(12px + 0.390625vw);
}

/* Headings & Other Text */
h1 {
    font-family: "Roboto Flex", sans-serif;
    margin-bottom: 0;
    font-size: 2.7rem;
    font-weight: 500;
}

h2 {
    font-family: "Roboto Flex", sans-serif;
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 500;
}

h3 {
    font-family: "Roboto Flex", sans-serif;
    margin-bottom: 0;
    font-size: 1.7rem;
    font-weight: 500;
}

h4 {
    font-family: "Roboto Flex", sans-serif;
    margin-bottom: 0;
    font-size: 1.4rem;
    font-weight: 500;
}

#video-info {
    font-size:0;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.button {
    padding: 16px 32px;
    border-radius: 15px;
    display: inline-block;
    background-color: var(--dark-green);
    color: black;
    text-decoration: none;
}


/* Header and Nav */

header {
    height: 93vh;
    margin: 2%;
    border-radius: 20px;
}

.home {
    background-color: var(--light-green);
}

.case-study-background {
    background-color: var(--light-gray);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 87%;
    top: 7%;
    z-index: 100;
    transition: all 500ms ease;
}

nav.scrolled {
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 16px 14px -8px rgba(0, 0, 0, 0.03);
    border-radius: 0 0 8px 8px;
    top: 0;
    padding: 1%;
}

nav .logo a{
    font-family: "Roboto Flex", sans-serif;
    font-size: 2rem;
    color: black;
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 80px;
    list-style: none;
    margin: 0;
}

nav ul li a {
    font-family: "Roboto Flex", sans-serif;
    font-size: 16px;
    color: black;
    text-decoration: none;
}


/* Intro */

.intro {
    display: flex;
    height: 93vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.intro .left {
    width: 35%;
    margin-left: 4%;
}

.intro .art {
    position: absolute;
    right: 2%;
    /* bottom: 5vh; */
    bottom: 2.4%;
}

.intro .art img {
    max-height: 500px;
    width: auto;
}


/* Divider */
hr {
    position: relative;
    border: 0;
    margin: 2%;
    display: flex;
    justify-content: center;
}

hr:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
}

.flower:after {
    content: "";
    position: relative;
    padding: 0 3.5%;
    background: #ffffff url('/Media/Icons/flower.svg') no-repeat center center;
    background-size: contain;
    width: 40px;
    height: 40px;
}

.baby:after {
    content: "";
    position: relative;
    padding: 0 3.5%;
    background: #ffffff url('/Media/Icons/baby.svg') no-repeat center center;
    background-size: contain;
    width: 40px;
    height: 40px;
}

.moon:after {
    content: "";
    position: relative;
    padding: 0 3.5%;
    background: #ffffff url('/Media/Icons/moon.svg') no-repeat center center;
    background-size: contain;
    width: 40px;
    height: 40px;
}


/* Projects */
.project-showcase .case-study {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.project-showcase .case-study .left {
    max-width: 50%;
}

.project-showcase .case-study .left img {
    max-width: 100%;
    height: auto;
    transition: transform .5s;
}

.project-showcase .case-study .left img:hover {
    transform: scale(1.15);
}

.project-showcase .case-study .left .sleep {
    max-width: 80%;
    margin-left: 8%;
}

.project-showcase .case-study .right {
    max-width: 25%;
    margin-left: -5%;
}

.project-showcase .case-study .right .case-study-info h2 {
    border-left: solid black;
    border-width: 3px;
    padding-left: 5px;
}

.project-showcase .case-study .right .case-study-info p {
    margin-left: 3%;
}


/* Footer */

footer .footer-text p {
    text-align: center;
    margin-bottom: 0;
    margin-top: -1%;
}

footer .social {
    display: flex;
    justify-content: center;
    height: 35px;
    margin-bottom: 0;
}

footer .social a img{
    padding: 10px;
    width: 50px;
    height: 50px;
}

footer .credit {
    text-align: center;
    font-size: 14px;
    margin-top: 0;
}

/* END OF INDEX */

/* Case Study Intro */
.case-study-intro {
    height: 93vh;
    width: 100%;
    align-items: center; 
    display: flex;
    flex-direction: column;
}

.case-study-intro h1 {
    margin-top: 10%;
}

.case-study-intro .babysteps-thumbnail img{
    display: block;
    margin: auto;
    margin-top: -2%;
    max-width: 50%;
    height: auto;
}

.case-study-intro .sleeptracker-thumbnail img{
    display: block;
    margin: auto;
    max-width: 60%;
    height: auto;
}


/* Project Information */
.project-information {
    display: flex;
    margin: 0 auto;
    padding: 2%;
    width: 85%;
    justify-content: space-between;
    text-align: left;
}

.project-information .column {
    height: min-content;
}

.project-information .column .title {
    font-family: "Roboto Flex", sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    margin: 0;
    margin-bottom: 4%;
}

.project-information .column p {
    margin: 0;
}

/* Case Study Sections */

section {
    max-width: 65%;
    margin: 0 auto;
}

.smaller-margin {
    margin-top: 0;
}

.image-text-baby:before {
    content: url(Media/BabySteps/babyStep.svg);
    margin-left: -5.5%;
}

.image-text-moon:before {
    content: url(Media/Sleep\ Tracker/coloredMoon.svg);
    margin-left: -5.2%;
    max-width: 5%;
    height: auto;
    padding-right: 1%;
}

.body-text {
    max-width: 90%;
    margin: 0 auto;
}

section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.goal {
    max-width: 50%;
    height: auto;
    margin-left: 23%;
}

.data-box {
    max-width: 90%;
}

.large {
    max-width: 85%;
}

.extra-large {
    max-width: 50%;
}

video {
    display: block;
    max-width: 35%;
    height: auto;
    margin: 0 auto;
}

/* END OF CASE STUDIES */

/* About Me */
.about-me {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
}

.about-me .left {
    max-width: 55%;
}

.about-me .right {
    width: 43%;
}

.about-me .right a {
    color: black;
}

/* END OF ABOUT ME */